<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="desktopAPP.Properties.Settings.TextbookChangedPlatformConnectionString"
            connectionString="Data Source=localhost,14433;Initial Catalog=TextbookChangedPlatform;Persist Security Info=True;User ID=B;Password=1234"
            providerName="System.Data.SqlClient" />
        <add name="desktopAPP.Properties.Settings.TextbookChangedPlatformConnectionString1"
            connectionString="Data Source=140.118.5.92,14433;Initial Catalog=TextbookChangedPlatform;Persist Security Info=True;User ID=B;Password=1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>